html {
    font-size: 62.5%
}

body {
    background: #eaeaea;
}

.container {
    max-width: 1087px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.PageBottomDiv {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.FormInputContainer {
    margin: 50px;
}

.InvoiceItems {
    margin-bottom: 40px;
    padding: 0 35px;
}

.TextFieldContainer {
    margin: 24px auto;
    padding: 30px 25px;
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
    max-width: 540px;
}

.MuiSvgIcon-root-179 {
    
    font-size: 20px !important;
}

.SecondRowInvoice {
    padding-top: 20px;
    display: grid;
    grid-template-areas: "main total";
    grid-template-columns: 70% 30%;
}

.UnitRateTypeContainer {
    display: flex;
}

.FormControlPrepend {
    grid-area: rate;
    display: flex;
    justify-content: flex-start;
}

.InvoiceItemTotal {
    margin-left: auto;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 16px;
}

.MuiSelect-selectMenu-244 {
    padding-top: 12px;
}

.AddInvoiceContainer {
    margin-left: 20px;
}

.MuiFormControl-root-225 {
    flex-direction: row !important;
}

.RemoveInvoiceButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.RateDollarSymbol {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.FormInputGroupContainer {
    display: flex;
}

.FormHeaderContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.Page5-invoiceTitle-177 {
    font-size: 30px !important;
    font-weight: bold !important;
}

.AltFormContainer {
    display: 'flex';
    flex-direction: 'column';
    align-content: 'center';
    align-items: 'center';
}