html {
    font-size: 62.5%
}

body {
    background: #eaeaea;
}

.container {
    max-width: 1087px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.PageBottomDiv {
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
}

.FormInputContainer {
    margin: 50px;
}

.TextFieldContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.FormInputGroupContainer {
    display: flex;
}

.FormHeaderContainer {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.AltFormContainer {
    display: 'flex';
    flex-direction: 'column';
    align-content: 'center';
    align-items: 'center';
}

.TextFieldContainer {
    padding-right: 5%;
    padding-left: 5%;
}