html {
    font-size: 62.5%
}

body {
    background: #eaeaea;
}

.container {
    max-width: 1087px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.PageBottomDiv {
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
}

.FormInputContainer {
    margin: 50px;
}

.TextFieldContainer {
    margin: 40px auto;
    padding: 30px 25px;
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
    max-width: 600px;
}

.SecondRowInvoice {
    padding-top: 20px;
    display: grid;
    grid-template-areas: "main total";
    grid-template-columns: 2fr 1fr;
}

.UnitRateTypeGridArea {
    display: grid;
    grid-template-areas: "unit rate type";
    grid-area: main;
}

.UnitField {
    grid-area: unit;
}

.FormControlPrepend {
    grid-area: rate;
    display: flex;
    justify-content: flex-start;
}

.SelectField {
    grid-area: type;
}

.InvoiceItemTotal {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: flex-end;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 16px;
}

.InvoiceItems {
    margin: 0;
}

.AddInvoiceContainer {
    margin-left: 40px;
}

.MuiFormControl-root-225 {
    flex-direction: row !important;
}

.RemoveInvoiceButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.RateDollarSymbol {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    align-items: flex-end;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 16px;
}



.FormInputGroupContainer {
    display: flex;
}

.FormHeaderContainer {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.AltFormContainer {
    display: 'flex';
    flex-direction: 'column';
    align-content: 'center';
    align-items: 'center';
}