.Branding {
    font-size: 16px;
    width: 50%;
    border: 1px solid black;
    justify-content: center;
    cursor: pointer;
}

.Branding:hover {
    background-color: rgba(46, 42, 42, 0.63);
    width: 50%;
    color: white;
}

.Header {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0 0 0 40px;
    height: 72px;
    border-bottom: 2px solid rgb(77, 77, 77);
}

.PercAndVal {
    display: flex;
    height: 782px;
    padding: 24px 40px;
    justify-content: space-between;
}


.Tax-Container {
    position: relative;
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 400px;
    height: 792px;
    border-top: 2px solid rgb(77, 77, 77);
}

.Tax-header {
    display: flex;
    letter-spacing: 1px;
    padding: 0 0 0 40px;
    height: 52px;
}

.Tax-Sidebar {
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
}

.Tax-Item {
    border-top: 2px solid rgb(77, 77, 77);
    padding-top: 10px;
}

.Tax-Icons {
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.Buttons-Container-Taxes {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-top: 2px solid rgb(77, 77, 77);
}

.Discount-Container {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 400px;
    height: 100%;
}

.Color-Picker {
    height: 781px;
    padding: 24px 40px;
}

.Invoice-Sidebar {
    height: 825px;
    justify-content: space-between;
}

.Invoice-Title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.Equals {
    font-size: 20px;
    padding-top: 40px;
}

.Buttons-Container {
    height: 84px;
    border-top: 2px solid rgb(77, 77, 77);
}

.Buttons-Container-Discount {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    justify-content: flex-end;
    border-top: 2px solid rgb(77, 77, 77);
}

.Cancel {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}


.Submit {
    align-content: flex-end;
    justify-content: flex-end;
}

.MuiButton-label-187 {
    font-size: 18px;
} 