.Branding {
    display: flex;
    font-size: 16px;
    border: 1px solid black;
    justify-content: center;
    cursor: pointer;
}

.Branding:hover {
    background-color: black;
    color: white;
}


.Header {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0 0 0 40px;
    height: 72px;
    /* border-bottom: 1px solid gainsboro; */
    border-bottom: 3px solid rgb(77, 77, 77);
}

.PercAndVal {
    display: flex;
    height: 782px;
    padding: 24px 40px;
    justify-content: space-between;
}

.Tax-Sidebar {
    display: flex;
    height: 740px;
    padding: 24px 40px;
    justify-content: space-between;
}

.Color-Picker {
    height: 796px;
    padding: 24px 40px;
}

.Date:hover {
    background: rgb(252, 252, 252);
}

.Invoice-Sidebar {
    height: 825px;
    justify-content: space-between;
}

.Invoice-Title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.Equals {
    font-size: 20px;
    padding-top: 40px;
}

.Buttons-Container {
    height: 84px;
    border-top: 3px solid rgb(77, 77, 77);

    /* border-top: 1px solid gainsboro; */
}

.Buttons-Container-Discount {
    display: flex;
    height: 84px;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 0 40px;
    border-top: 3px solid rgb(77, 77, 77);
}

.Cancel {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.Discount-Container {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 400px;
    height: 792px;
}

.Submit {
    align-content: flex-end;
    justify-content: flex-end;
}

/* .MuiSvgIcon-root-179 {
    font-size: 30px !important;
} */

.MuiButton-label-187 {
    font-size: 18px;
} 