#Invoice-Page-Container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    padding: 50px 60px 0 60px;
    border-top: 3px solid #4caf50;   
}

.Top-Third-Container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 55% 20%;
    border-bottom: 2px solid #ccc;
    height: 226px;
    padding: 20px;
}

.Middle-Third-Container {
    font-size: 14px;
    height: 435px;
    padding: 20px;
}

.Bottom-Third-Container {
    font-size: 14px;
    padding: 20px;
    height: 140px;
}

.Top-Right-Grid-Area {
    font-size: 14px;
    grid-area: 1/3/2/3;
}

#Invoice-Title {
    color: #4caf50;
    font-size: 40px;
    margin: 0;
}

#Invoice-Total {
    font-size: 24px;
}

#Client-Address-Area {
    grid-area: 2/1/2/1;
}

#Client-Address {
    font-size: 14px;
}

.Client-Customer {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Invoice Items */
.Line-Items {
    display: grid;
    padding: 10px;
    margin-bottom: 20px;
    grid-template-columns: 40% 20% 20% 20%;
    border: 2px solid gainsboro;
}

/* Subtotal, Total, and Amount-Due */

.Total-Info {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 40% 20% 20% 20%;
    font-size: 14px;
    height: 180px;
    border-bottom: 2px solid gainsboro;
}

#Subtotal {
    grid-column-start: 3;
    height: 50%;
    border-bottom: 2px solid gainsboro;
}

#Subtotal-Price {
    grid-column-start: 4;
    border-bottom: 2px solid gainsboro;
    height: 50%;
}

#Total {
    grid-column-start: 3;
    height: 50%;
    border-bottom: 2px solid gainsboro;
}

#Total-Price {
    grid-column-start: 4;
    border-bottom: 2px solid gainsboro;
    height: 50%;
}

#Amount-Due {
    font-weight: 600;
    grid-column-start: 3;
    border-bottom: 2px solid gainsboro;
    height: 50%;
}

#Amount-Price {
    grid-column-start: 4;
    border-bottom: 2px solid gainsboro;
    height: 50%;
}

.WorkingDoc {
    margin-top: 20px;
}

@media only screen and (max-width: 1280px) {

    .WorkingDoc {
        margin-left: 0;
    }

}