.Dev-Address {
    height: 20%;
}

.WorkingDoc {
    margin-left: 10px;
}

#InvoiceContainer {
    box-sizing: border-box;
    height: 720px;
    padding: 60px;
    /* overflow: scroll; */
}

.Invoice-Items {
    height: 50%;
    padding: 20px;
}

.Top-Third {
    border-bottom: 2px solid #ccc;
    /* height: 250px; */
    height: 30%;
}

@media only screen and (max-width: 1280px) {

    .WorkingDoc {
        margin-left: 0;
    }
    #InvoiceContainer {
        border-top: 2px solid #4caf50;
    }

}